.advert-card {
    border: 1px solid black;
    margin-top: 20px;
    padding: 20px;
}

.delete-button {
    background-color: white;
    border: 1px solid red;
    color: red;
}
.edit-button {
    background-color: white;
    border: 1px solid blue;
    color: blue;
    margin-left: 10px;
}


.cancel-edit-button {
    border: none;
    background-color: none;
    padding: 0;
    display: inline-flex;
}

.edit-form {
    align-items: center;
    display: flex;
}

.hidden {
    display: none;
}